#image{
    
    /* margin-top: 10%; */
    /* margin-left: 10%; */
    width: 180%;
}

#h2{
    margin-top: 20%;
}
#rows{
    display: flex;
   text-align:center;
   margin-top: 5%;
}

#col{
    font-size:xx-large;
    font-weight: bold;
}

#founder{   
    width: 80%;
}